.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .game {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
  }
  
  .card {
    width: 130px;
    height: 130px;
    background-color: transparent;
    border: 1px solid #ccc;
    background-image: url(../assets/card\ barbie.png);
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  
  .card.flipped {
    background-color: #ccc;
    pointer-events: none;
  }
  
  .card.matched {
    border: 3px solid #f03c8f;
    pointer-events: none;
  }
  
  .card.flipped img {
    display: block;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .copy {
    font-weight: 800;
    color: whitesmoke;
  }
  
  .restart-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f03c8f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .restart-button:hover {
    background-color: rgba(245, 245, 245, 0.534);
    color: #f03c8f;
  }
  
 @media (max-width: 700px) {
    .game {
      max-width: 400px;
    }
    
    .card {
      width: 90px;
      height: 90px;
    }
  }
  
  @media (max-width: 400px) {
    .game {
      max-width: 300px;
    }
    
    .card {
      width: 70px;
      height: 70px;
    }
}
